In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('shop_data.csv')

In [35]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no
15    <25    high  female  married  yes
16    >35  medium    male  married  yes
17    <25    high  female   single  yes
18  25-35  medium  female  married  yes
19  25-35    high    male   single  yes
20    >35  medium  female  married   no
21    <25     low    male   single  yes

# Ordinal Encoder

In [36]:
df['income'].unique()

array(['high', 'medium', 'low'], dtype=object)

In [37]:
income_order = ['low','medium','high']

In [38]:
from sklearn.preprocessing import OrdinalEncoder

In [48]:
enco = OrdinalEncoder()

In [51]:
df[['income']] = enco.fit_transform(df[['income']])

In [53]:
df

      age  income  gender m_status buys
0     <25     2.0    male   single   no
1     <25     2.0    male  married   no
2   25-35     2.0    male   single  yes
3     >35     1.0    male   single  yes
4     >35     0.0  female   single  yes
5     >35     0.0  female   single   no
6   25-35     0.0  female  married  yes
7     <25     1.0    male  married   no
8     <25     0.0  female   single  yes
9     >35     1.0  female  married  yes
10    <25     1.0  female   single  yes
11  25-35     1.0    male  married  yes
12  25-35     2.0  female   single  yes
13    >35     1.0    male  married   no
14    <25     2.0    male   single   no
15    <25     2.0  female  married  yes
16    >35     1.0    male  married  yes
17    <25     2.0  female   single  yes
18  25-35     1.0  female  married  yes
19  25-35     2.0    male   single  yes
20    >35     1.0  female  married   no
21    <25     0.0    male   single  yes